In [8]:
import pandas as pd
import sqlite3

In [9]:
schools_df = pd.read_csv("DOE_High_School_Directory_2016-geocoded.csv")
scores_df = pd.read_csv("SAT__College_Board__2010_School_Level_Results.csv")

conn = sqlite3.connect("schools.db")
schools_df.to_sql('schools', conn)
scores_df.to_sql('sat_scores', conn)

ValueError: Table 'schools' already exists.